code {
    font-family: "Source Code Pro", monospace;
    background-color: var(--dracular);
    border-radius: 5px;
    font-weight: 400;
    line-height: var(--gap-between-code);
    color: var(--grey-2);
    padding: 0.4rem !important; 
}

pre code{
    padding: 1rem 0.5rem !important; 
}


.code-copy{
    padding: 2rem 0.5rem 1rem 0.5rem !important; 
}

p code {
    font-size: 14px;
}

li code {
    font-size: 14px;
}

pre code {
    font-weight: 500;
}

code::selection {
    background-color: #0061d4;
    color: var(--white-fixed);
}

code span::selection {
    background-color: #0061d4;
    color: var(--white-fixed);
}

.pre-copy{
    position: relative;
    padding-top: 3rem;
    overflow: hidden;
    border-radius: var(--border-radius-buttons);
}

.pre-copy button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 28px;
    display: flex;
    align-items: center;
    border-color: var(--white-fixed);
    color: var(--white-fixed) !important;
    background-color: transparent !important;
}

.pre-copy button:hover{
    background-color: var(--white-fixed) !important;
    color: var(--black-fixed) !important;
}

.pre-copy::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--brand-1);
    height: 4rem;
    width: 100%;
}

.pre-copy::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.137);
    height: 4rem;
    width: 100%;
    transition: 1s ease;
    transform: translateX(-100%);
}

.copy::after{
    animation: copy 1s ease-in-out;
}

@keyframes copy {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

