/* IMPORT */
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5 {
    color: var(--grey-4);
}

h1 {
    font-size: var(--title-1);
}

h2 {
    font-size: var(--title-2);
}

h3 {
    font-size: var(--title-3);
}

h4 {
    font-size: var(--title-4);
}

h5 {
    font-size: var(--title-5);
}

hr {
    background-color: var(--grey-2);
    border: none;
    height: 1px;
    margin: 0;
}

p {
    font-size: var(--text-3);
    font-weight: 400;
    color: var(--grey-4);
    line-height: 28px;
}

i {
    color: var(--grey-4)
}

strong {
    color: var(--grey-4);
    font-weight: 700;
}

a {
    color: var(--color-link);
    border-bottom: 2px solid currentColor;
    font-weight: 500;
    transition: all 0.2s;
    width: max-content;
}

a.link-download{
    color: var(--grey-4) !important;
    border: 2px solid var(--grey-4);
    padding: 1rem;
    border-radius: var(--border-radius-buttons);
    width: 100%;
}

a:visited {
    color: var(--visited);
}

a:hover {
    color: var(--hover);
}

em {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.icon-category-theme {
    margin-right: 1rem;
}