html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, ol, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', Arial, sans-serif;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: var(--grey-0);
}