.hljs-ln {
  width: 100%;
  border: none !important;
  border-collapse: collapse;
}

.hljs-ln-linem,
.hljs-ln-code,
.hljs-ln-n,
.hljs-ln-line,
.hljs-ln-numbers {
  border: none !important;
  background-color: transparent;
}

.hljs-ln-numbers {
  width: 40px;
}

.hilightedContent {
  background-color: var(--blue-background);
  border-left: 4px solid var(--blue-border);
  padding-bottom: 10px;
}

.hilightedContent header {
  background-color: var(--blue-header);
  padding: 8px 1rem;
}

.hilightedContent header strong {
  margin: 0;
  font-size: 1.2rem;
}

.hilightedContent p {
  margin: 0;
}

.hilightedContent main {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlightedContent .hilightedContent-main {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hilightedContent main p {
  padding: 0;
}

.hilightedContent p {
  margin: 0;
  padding: 1rem;
}

.hilightedContent--warning {
  background-color: var(--orange-background);
  border-color: var(--orange-border);
}

.hilightedContent--warning header {
  background-color: var(--orange-header);
}

.hilightedContent--tip {
  border-color: var(--green-border);
  background-color: var(--green-background);
}

.hilightedContent--tip header {
  background-color: var(--green-header);
}

.hilightedContent--references {
  background-color: var(--grey-background);
  border-left: 4px solid var(--grey-border);
}

.hilightedContent--references header {
  background-color: var(--grey-header);
}

.hilightedContent ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

.hilightedContent ol {
  margin: 0;
  padding: 10px 20px;
}

.hilightedContent--practice {
  background-color: var(--yellow-background);
  border-left: 4px solid var(--yellow-border);
}

.hilightedContent--practice header {
  background-color: var(--yellow-header);
}

.hilightedContent--practice ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

.highlightedContent {
  background-color: var(--blue-background);
  border-left: 4px solid var(--blue-border);
  margin: 30px 0;
  padding-bottom: 10px;
}

.highlightedContent header {
  background-color: var(--blue-header);
  padding: 8px 1rem;
  margin-bottom: 1rem;
}

.highlightedContent header strong {
  margin: 0;
  font-size: 1.2rem;
}

.highlightedContent p {
  margin: 0;
}

.highlightedContent--tip {
  border-color: var(--green-border);
  background-color: var(--green-background);
}

.highlightedContent--tip header {
  background-color: var(--green-header);
}

.highlightedContent--references {
  background-color: var(--grey-1);
  border-left: 4px solid var(--grey-2);
}

.dark-mode .highlightedContent--references {
  background-color: var(--dracular);
}

.dark-mode .highlightedContent--references header {
  background-color: var(--dracular);
  padding: 1rem;
}

.highlightedContent--references header {
  background-color: var(--grey-3);
}

.highlightedContent--references ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

.highlightedContent--practice {
  background-color: var(--yellow-background);
  border-left: 4px solid var(--yellow-border);
}

.highlightedContent--practice header {
  background-color: var(--yellow-header);
}

.highlightedContent--practice ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

.hilightedContent pre {
  width: 95%;
  margin: 1rem auto;
}
