img{
    max-width: 100%;
    width: 100%;
    margin: calc(var(--gap-between-elements)) 0;
}

img.border {
    margin: 0;
    border: solid 1px var(--grey-2);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
}

img.center {
    display: block;
    margin: calc(var(--gap-between-elements) * 2) auto;
    text-align: center;
}

figure {
    margin: calc(var(--gap-between-elements) * 3) 0;
}

figure img {
    margin: 0;
}

img.right {
    float: right;
}

img.left {
    float: left;
}

img.small {
    max-width: 250px;
}

img.medium {
    max-width: 500px;
}

img.large {
    max-width: 634px;
}

figure figcaption {
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    border-left: 5px solid var(--grey-2);
    color: var(--grey-4);
}

img {
    border-radius: var(--border-radius-images)
}

img.img-fill{
    width: max-content;
    border-radius: 0;
}