.container{
    max-width: var(--container-size);
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: var(--gap-between-elements);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-between-elements)
}