ol, ul {
    list-style-position: inside;
    padding-left: 30px;
}

ol li,
ul li {
    margin-bottom: calc(var(--gap-between-elements) / 2);
    font-weight: 400;
    line-height: 28px;
    color: var(--grey-4);
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ol li p,
ul li p {
    display: inline;
}

li{
    font-size: var(--text-3);
    font-weight: 400;
    color: var(--grey-4);
    line-height: 28px;
}