::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--grey-4);
    -webkit-box-shadow: var(--grey-4);
}

body{
    scroll-behavior: smooth;
}