iframe {
  width: 778px;
  height: 450px;
}

iframe.iframe_custom {
  position: relative;
  min-height: 1300px;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 1rem 0;
  margin-top: 1rem;
}
